@import '../../../glabal.scss';
.service{
    height: 800px;
    width: 100%;
    background-color: $mainColor-2;
    display: flex;
    align-items: center;
    justify-content: center;
 .serviceCard{
    width: 60%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        width: 250px;
        height: 200px;
        padding:20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px 20px;
        background: $mainColor-3;
   
        .top{
            .icon{
                transform: rotate(-45deg);
                font-size: 40px;
            }
        }
        .content{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            h1{
                font-size: 20px;
                padding-top: 20px;
            }
            p{
                font-size: 15px;
                padding-top: 20px;
                color: rgb(112, 108, 108);
                text-align: center;
            }
        }
        .bottom{
            background: none;
            .icon{
                margin-top: 30px;
                background-color: none;
                border-radius: 50%;
                border: 1px solid rgb(145, 143, 143);
            }

        }
    }
}
}